body {
    margin: 0px;
font-size: 28px;
font-style: normal;
font-weight: 400;
font-family: Inter;

}

#HeadNav{
    background-color: black; 
    width: 100%; 
    color: white; 
    padding: 10px;
}

#button1 {
    background-color: black !important;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#img1 {
    height: 200px;
    width: auto;
}

#table1 {
    border: 2px solid #000;
    width: 100%;
}

#table1 tr {
    padding: 15px !important;
}

table,
th,
thead td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
    /* border-spacing: 5px; */
    font-family: Montserrat;


}

tr td {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
    padding-left: 50px;
    /* border-spacing: 5px; */
}
tfoot{
    background: #000;
    color: white;
}

main {
    padding: 15px;
}
.snoCol{
    text-align: center;
    padding-left: 15px;
}


h1, h2{
    font-size: 64px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
}